# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\github-website\DS-Algo-Python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
